.container{
    width: 88%;
    margin: 0 auto;
    overflow: hidden;
}
.nav{
    display: flex;
    justify-content: space-between;
}
body{
    background: #E1DADA;
}
.lo{
    width: 30px;
}
b{
    color: #FA963A;
}
h1{
    color: maroon;
}
/*HERO*/
#hero{
    padding: 70px;
}
.fa-search{
    width: 4px;
    height: 8px;
    left: 1169px;
    top: 59px;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 88.4%;
    letter-spacing: 0.08em;

    color: #FFFFFF;
}
.hero-btn{
    margin: 0 20px;
    color: #FA963A;
    width: 141px;
    height: 33px;
    background: #FFFFFF;
    border-radius: 7px;
}
.span{
    margin: 0 8px;
}
.hero-btn:hover{
    color: #FFFFFF;
    width: 141px;
    height: 33px;
    background: #FA963A;
    border-radius: 7px;
}
.fond-app{
    display: flex;
    flex-flow: column;
}
.fond{
    margin: 10px 0;
    width: 165px;
    height: 13px;
    left: 500px;
    top: 56px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 88.4%;
    letter-spacing: 0.08em;
    color: #000000;
}
.app{
    width: 153px;
    height: 13px;
    left: 500px;
    top: 84px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 88.4%;
    /* or 13px */
    letter-spacing: 0.08em;
    color: #000000;
}
.slick{
    padding: 50px;
    font-size: 10px;
}
.piz{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.hero-img{
    margin: 0 5px;
}
.hero-img2{
    margin: 0 5px;
}
.hero-img3{
    margin-top: 30px;
}
.hero-image{
    display: flex;
    flex-wrap: wrap-reverse;
}
.doc{
    margin-top: -10px;
}
.hero-img4{
    margin: 30px 13px;
    width: 235px;
    height: 315px;
    left: 268px;
    top: 1359px;
    background: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.shu{
    display: flex;
    justify-content: space-between;
}
.often{
    width: 200px;
    height: 51px;
    left: 241px;
    top: 1141px;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.who{
    padding-top: 70px;
}
.image{
    margin: 0 20px;
}
.hero-btn2{
    display: flex;
    justify-content: center;
}
.hero__btn{
    width: 213px;
    height: 41px;
    left: 649px;
    top: 2035px;
    background: #FA963A;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.black{
    margin: 0 10px;
    width: 230px;
    height: 310px;
    left: 268px;
    top: 2163px;
    background: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.say{
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 15px 10px;
}
.another{
    margin: 10px 10px;
    width: 240px;
    height: 350px;
    left: 542px;
    top: 2978px;
    background: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.fact{
    display: flex;
    flex-wrap: wrap;
}

.just{
    margin: 10px 10px;
    width: 230px;
    height: 320px;
    left: 268px;
    top: 3802px;
    background: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.state{
    display: flex;
    flex-flow: wrap-reverse;
}
.move{
    margin: 10px 10px;
    width: 230px;
    height: 320px;
    left: 268px;
    top: 4666px;
    background: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.never{
    display: flex;
    flex-wrap: wrap;
}
#footer{
    width: 1515px;
    height: 294px;
    left: 0;
    top: 5464px;
    background: #FA963A;
}
.nav-item{
    display: flex;
}
.log{
    color: #FFFFFF;
}
.item{
    margin: 30px 19px;
    text-decoration: none;
    color: #FFFFFF;
}
.icon{
    margin-top: 30px;
    color: #FFFFFF;
}